.content {
    grid-area: c;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.messages {

}
.mesItem {
    
}
.mesItem a{
    color: #ffff;
    text-decoration: none;
}
.textMes {

}
.mesItem .item {

}
.textMes .mes {

}
.activeMes {
    color: red;
}