.header {
  display: block;
  border: 4px inset white;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 5px;
  margin-bottom: 3%;
}
.logoImg {
  width: 80px;
  height: 80px;
}
.logoImg img {
  width: 100%;
  height: 100%;
}