@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
.app {
  width: 100%;
  height: 100vh;
  background-color:#282c34;
  font-family: 'Yatra One', cursive;
}
.app-wrapper {
  margin: 0 auto;
  width: 1280px;
  height: 100vh;
  color: aliceblue;
  background-color:#282c34;
}
.app-wrapper-content {
  width: 100%;
  border: 4px inset white;
  border-radius: 5px;
  padding: 1%;
}
.Nav-content {
  display: flex;
  justify-content: space-between;
}